<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwu1845nQr6sI9lHR1b9giCykhTF34i9A</string>
	<key>GCM_SENDER_ID</key>
	<string>802069788540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sidore.catholiccalendar</string>
	<key>PROJECT_ID</key>
	<string>catholic-calendar-7916b</string>
	<key>STORAGE_BUCKET</key>
	<string>catholic-calendar-7916b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802069788540:ios:0bd1e709d45c1cac2f96f9</string>
</dict>
</plist>